*{
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
}
.contenido{
    height: 86%;
    width: 90%;
    background-color: rosybrown;
    margin: 0.5em auto;
    border-radius: 0.5em;
    color: rgb(226, 241, 255);
    flex-wrap: wrap;

}
#cur2{
    text-align: justify;
    font-size: large;
    
    height: auto;
    width: auto ;
    margin: 10px;
    box-shadow:0 0 5px red;
}
#cur2 img{
    display: flexbox;
    height: 138.5px;
    width: auto;
}
#cur2 button{
    background-color: rgb(230, 173, 173);
    color: black;
    font-size: medium;
    font-family: verdana;
    font-weight: bold;
}
#cur{
    width: 500px;
    height: 50%;
    text-align: justify;
    font-size: large;
    height: auto;
    width: 500px ;
    margin: 10px;
  
}
#cur img{
    display: flexbox;
    height: 138.5px;
    width: auto;
}
#cur button{
    background-color: rgb(17, 218, 94);
    color: black;
    font-size: medium;
    font-family: verdana;
    font-weight: bold;
}
.imagenes{
    height: 200px;
    width: 200px;

}



.contenidoLogo{
    text-align: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}



.img1{
    width: 350px;
    height: 250px;
    float: center;
    display: block;
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-block: 5%;
    
}

#admin{
 
    flex-wrap: wrap;
}
#a{
    flex-wrap: wrap;
}
.titulo {
    color: rosybrown;
    width: 250px;
    height: 80px;
    text-align:center;
    padding: 15px;
}



body{
    margin: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.contenidoContactos{
    width: 100%;
    background-color: rosybrown;
    display: contents;
    flex-wrap: wrap;
    justify-content: center;
}

#header{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rosybrown;
    
}
#menuNavegacion{
    background-color: #F0D1EF;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

#titular{
    text-align: center;
    color: rosybrown;
}



#pie{
    background-color: rosybrown;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}


td{
    text-align:center;
}

#seccion{
    width: 61%;
    height: 70%;
    background-color:rosybrown;
    margin: 0.5em;
    
}

.contenedor{
    text-align: justify;
    font-family: "tahoma";
    width: 1200px;
    height: 3800px;
    background-color: #2e2c2a;
    max-width: 0 auto;
    justify-content: center;
    flex-direction: row-reverse;
    display: flex;
    flex-wrap: wrap;

}