.contenido{
    width: 90%;
    background-color: rosybrown;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#cur{
    width: 500px;
    height: 50%;
    text-align: justify;
    font-size: large;
    height: auto;
    width: 500px ;
    margin: 10px;
  
}
#cur img{
    display: flexbox;
    height: 138.5px;
    width: auto;
}
#cur button{
    background-color: rgb(17, 218, 94);
    color: black;
    font-size: medium;
    font-family: verdana;
    font-weight: bold;
}

.contenidoLogo{
    text-align: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}


.img1{
    width: 350px;
    height: 250px;
    float: center;
    display: block;
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-block: 5%;
    
}


.titulo {
    color: rosybrown;
    width: 250px;
    height: 80px;
    text-align:center;
    padding: 15px;
}

.caja img{
    width: 100px;
    height: 280px;
    float: center;
}

.caja button{
    border-radius: 0.5em;
    opacity: 90%;
    border: solid 1px rgb(180, 153, 176);
}

.caja {
    margin: 10px;
    padding-bottom: 1em;
    text-align: center;
    float: justify;
}

body{
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.contenidoContactos{
    width: 100%;
    background-color: rosybrown;
    display: contents;
    flex-wrap: wrap;
    justify-content: center;
}

#header{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rosybrown;
    
}
#menuNavegacion{
    background-color: #F0D1EF;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

#titular{
    text-align: center;
    color: rosybrown;
}


#contenido{
    margin: 0 auto;
    background-color: rosybrown;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

#pie{
    background-color: rosybrown;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}


td{
    text-align:center;
}

#seccion{
    width: 61%;
    height: 70%;
    background-color:rosybrown;
    margin: 0.5em;
    float: left;
}
