*{
    padding: 0 auto;
    margin: 0 auto;
}
#loginb{
    justify-content: center;
    padding-top: 110px;
    background-color: rgb(0, 0, 0);
}
#login{
    flex-wrap: wrap;
    width: 500px;
    padding-bottom: 10px;
    background-color: #1f6357;
    text-align: center;
    border-radius: 10%;
}

#login h3{
    color: rgb(255, 255, 255);
}
#login button{
    font-weight: bolder;
}
#form{
    
    background-color: rgb(0, 255, 157);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#mensaje{
    border: 1px solid black;
    background-color: white;
    font-size: medium;
    font-weight: bold;
}

#regre{
    font-weight: bolder;
}